.sidebar{
    padding: 1vw;
    background: #fff;
    h1{
        text-align: center;
        line-height: 1.2;
    }
    .sidebar_menu{
        margin-top: 2vw;
        nav{
            margin-bottom: 2rem;
            h2{
                font-size: .9vw;
                color: rgba(0, 0, 0, 0.3);
            }
            ul{
                li{
                    color: #333;
                    &:hover{
                        background-color: rgb(87, 87, 87);
                        color: #fff;
                    }
                    a{
                        display: block;
                        height: 100%;
                        width: 100%;
                        padding: 1rem;
                        color: inherit;
                    }
                }
            }
        }
    }
}